<h1>Sala de Juegos</h1>

<mat-toolbar class="mat-toolbar mat-primary mat-toolbar-multiple-rows">
  <mat-toolbar-row class="mat-toolbar-row">
    <button
      color="accent"
      mat-raised-button
      type="submit"
      class="mat-raised-button mat-button-base mat-accent"
    >
      Quien Soy?
    </button>
    <button
      class="mat-raised-button mat-button-base mat-accent"
      mat-raised-button=""
    >
      Registrarse
    </button>
    <button
      class="mat-raised-button mat-button-base mat-accent"
      mat-raised-button=""
    >
      Ingresar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
